.idea/**
.bundle
db/*.sqlite3
log/*.log
tmp/**/*

\#*
**/*.db
*~
.#*
.DS_Store
db/*.sql
db/*.sqlite3*
db/*.sqlite3.db
db/schema.rb
db/sphinx
doc/**/*
config/database.yml
config/mongrel_cluster.yml
config/*.sphinx.conf
config/newrelic.yml
config/unicorn.conf.rb
config/memcached.yml
tmp
*.jgz
vendor/cache
vendor/bundle
log/*.log
log/*.pid
rerun.txt

.bundle
# Gemfile.lock

