%h1
  Welcome to example.com, #{@user.display_name}
%p
  You have successfully signed up to example.com,
  your username is: #{@user.display_name}.
  %br/
%p
  To login to the site, just follow this link: #{@url}.
%p Thanks for joining and have a great day!
