.header{
    overflow: auto;
}
.header .top_info{
    float:right;
}
.header span.title{
    display: inline-block;
    color: #00f;
    position: relative;
    top: -20px;
    font-size: 18px;
    font-weight: bold;
}
.header .changeCity{
    display: inline-block;
}

.cities{
    display: none;
    border: 1px solid #ccc;
    background-color: #e0e0e0;
    padding: 4px;
    margin: 4px;
    position: absolute;
}

.newActivityLink{
    float:right;
}



dl.activity {
  border: 1px solid #eee;
  border-bottom: none;
  padding: 5px 0;
  font-size: 12px; }
dl.activity:last-child{
  border-bottom:1px solid #eee;
}
  dl.activity:hover {
    background-color: #fafcff; }
  dl.activity dt {
    
    padding: 0 5px; }
  dl.activity a.title {
    font-size: 14px;
    line-height: 24px; }
  dl.activity a.title:hover {
    color: #e40000;
    text-decoration: underline; }
  dl.activity a.addr {
    color: #666;
    padding: 0 1px; }
  dl.activity a.addr:hover {
    color: #000; }
  dl.activity a {
    color: #2244dd;
    text-decoration: none; }
  dl.activity .time {
    float: right; }

dl.activity .address_desc{
    color: #666;
}