<div id="pri">

</div>
<div id="sec">
  <div class="calendar_body">
    <div class="fl">
      <ul>
        <% @areas.each do |area| %>
          <li>
            <%=area.name%>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="fr">
      <table cellspacing="0" cellpadding="0" class="calendar_table_head">
        <tbody>
          <tr>
            <th>
              <
            </th>
            <% calendar_head.each do |key,value| %>
              <th title="<%=key%>" width="13%">
                <div><%=value%></div>
              </th>
            <% end %>
            <th>
              >
            </th>
          </tr>
        </tbody>
      </table>
      <table cellspacing="0" cellpadding="0" class="calendar_table_body">
        <tbody>
          <tr>
            
          </tr>
        </tbody>
      </table>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="clear"></div>