<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=zh-CN"></script>
<div style="float:left;width:80%;height:600px;border:1px solid #000;" id="map">

</div>
<div style="width:19%;float:left;">

</div>


<script type="text/javascript">
    var map = null;
    function initMap() {
        var mapDom = document.getElementById("map");
        var center = new google.maps.LatLng(30.16, 120.12);
        var initOptions = {
            zoom: 11,
            center: center,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapTypeControl: false
        };
        map = new google.maps.Map(mapDom,initOptions);

        var marker = new google.maps.Marker({
            position: center,
            map: map,
            title: "这是活动标题"
        });

        var infoWindow = new google.maps.InfoWindow({
            content: "这是<b>活动</b>内容"
        });

        google.maps.event.addListener(marker, "click", function(){
            infoWindow.open(map, marker); 
        });


    }
    $(document).ready(initMap);
</script>