<div class="cities">
  <% City.all.each_with_index do |city, index| %>
      <a href="#" onclick="changeCity('<%= city.code %>')"><%= city.name %></a>
      <% if index % 5 == 1 %>
          <br/>
      <% end %>
  <% end %>
</div>